<small>
  <p class="footer-wrapper">
    <span class="footer-author-info">
      &copy; <%= new Date().getFullYear() %> Coding Humor by
      <a class="footer-link" href="https://github.com/ZTanvir"
        >ZTanvir
        <img
          class="footer-img"
          src="../../public/images/github-mark-white.svg"
          alt="github cat logo"
        />
      </a>
    </span>
    <span> All rights reserved. </span>
  </p>
</small>
