<nav>
  <ul class="navbar">
    <li class="home-link"><a href="/">Coding Humor</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/sign-in">Sign In</a></li>
    <li><a href="/sign-up">Sign Up</a></li>
  </ul>
</nav>
