@import "../reset.css";
@import "../partials/navbar.css";
@import "../partials/footer.css";

#sign-in-page {
  display: flex;
  flex-direction: column;
  background-color: var(--website-bg-color);
}
#sign-in-page main {
  height: 100%;
  padding: 1rem;
  max-width: 1400px;
}
.title {
  margin-top: 3rem;
  padding: 1rem;
  color: white;
  background-color: var(--content-bg-color);
}
footer {
  margin-top: auto;
}
#login-form {
  background-color: var(--form-bg);
  padding: 1rem;
}
#login-form label {
  color: var(--text-color);
  font-size: 1.2rem;
}
#login-form input {
  line-height: 1;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: var(--content-bg-color);
  color: white;
  border-bottom: 1px solid var(--text-color);
}
#login-form button[type="submit"] {
  justify-self: start;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-size: 1.25rem;
  border: 0;
  cursor: pointer;
}
.error-msg {
  display: inline-block;
  min-height: 1rem;
  padding: 0.25rem 0rem;
  color: var(--error-color);
}
:is(.new-account-msg, .sign-in-msg) {
  padding: 0.5rem;
  color: #06d49f;
  background-color: #0d4436;
  border-radius: 6px;
  border-color: #06d49f;
  font-size: 1.25rem;
}
.sign-in-msg {
  margin-top: 1rem;
}

[data-stack] {
  --gutter: initial;
  display: grid;
  gap: var(--gutter, 0px);
  align-content: start;
}

[data-center] {
  max-inline-size: var(--minWidth, 100%);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

[display-inline] {
  --gutter: initial;
  display: grid;
  gap: var(--gutter, 0px);
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}
@media screen and (max-width: 600px) {
  main {
    width: 100%;
  }
  .title {
    margin-top: 0;
    font-size: 1.5rem;
  }

  :is(#login-form label, #login-form input, #login-form button[type="submit"]) {
    font-size: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  #login-form {
    width: 600px;
  }
}
