@import "../reset.css";
@import "../partials/navbar.css";
@import "../partials/footer.css";
@import "../partials/post.css";

#posts-page {
  background-color: var(--website-bg-color);
  display: flex;
  flex-direction: column;
}
#posts-page main {
  padding: 1rem;
}
.alert-msg {
  background-color: var(--alert-msg-bg);
  padding: 0.75rem;
  border-radius: 6px;
  overflow: hidden;
  align-items: center;
  color: #f1f13c;
  border: 1px solid #f1f13c;
  font-size: 18px;
  margin-bottom: 2rem;
}
.alert-msg a {
  color: #f1f13c;
  text-decoration: underline;
}

footer {
  margin-top: auto;
}

#post-form {
  background-color: var(--form-bg);
  padding: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

#post-form input,
#post-form textarea {
  width: 100%;
  line-height: 1;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: var(--content-bg-color);
  color: white;
  border-bottom: 1px solid var(--text-color);
}

#post-form ::placeholder {
  color: var(--text-color);
  font-size: 1rem;
  opacity: 0.8; /* Firefox */
}

#post-form button[type="submit"] {
  justify-self: end;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  border: 0;
  background-color: var(--content-bg-color);
  cursor: pointer;
  color: white;
}
.error-msg {
  color: var(--error-color);
  font-size: 1rem;
}

[data-inline] {
  --gutter: initial;
  display: grid;
  grid-auto-flow: column;
  gap: var(--gutter, 0px);
  justify-content: start;
}

[data-stack] {
  --gutter: initial;
  display: grid;
  gap: var(--gutter, 0rem);
  align-content: start;
}
[data-center] {
  max-inline-size: var(--maxWidth, 100%);
  margin-inline-start: auto;
  margin-inline-end: auto;
}
