@import "../reset.css";
@import "../partials/navbar.css";
@import "../partials/footer.css";
@import "../partials/post.css";

#profile-page {
  display: flex;
  flex-direction: column;
  background-color: var(--website-bg-color);
}
main {
  padding: 1rem;
}
.user-card {
  background-color: var(--content-bg-color);
  border-radius: 0.5rem;
  overflow: hidden;
  width: fit-content;
  padding: 2rem;
}
.user-card-img {
  border-radius: 0.5rem;
  overflow: hidden;
}
.username,
.member-status {
  color: white;
}
.username {
  text-transform: capitalize;
}
.not-found-msg {
  font-size: 2rem;
  color: white;
}

.alert-msg {
  background-color: var(--alert-msg-bg);
  padding: 0.75rem;
  border-radius: 6px;
  overflow: hidden;
  align-items: center;
  color: #f1f13c;
  border: 1px solid #f1f13c;
  font-size: 18px;
  margin-bottom: 2rem;
}

.membership-riddle {
  position: fixed;
  color: white;
  background-color: #171c3e;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 1rem;
  overflow: hidden;
}
.membership-riddle::backdrop {
  background-color: hsl(250, 100%, 50%, 0.25);
}

.dialog-open-btn {
  cursor: pointer;
  text-decoration: underline;
}

[data-center] {
  max-inline-size: var(--maxWidth, 100%);
  margin-inline-start: auto;
  margin-inline-end: auto;
}
[data-center~="center-children"] {
  display: grid;
  justify-content: center;
}
[data-center~="center-text"] {
  text-align: center;
}
[data-stack] {
  --gutter: initial;
  display: grid;
  align-content: start;
  gap: var(--gutter, 0px);
}
[data-inline] {
  --gutter: initial;
  display: grid;
  gap: var(--gutter, 0rem);
  justify-content: start;
}

footer {
  margin-top: auto;
}
