<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/styles/homepage.css" />
  </head>
  <body id="home-page">
    <header><%-include("partials/navbar")%></header>
    <main
      data-stack
      data-center="center-text center-children"
      style="--gutter: 0.5rem"
    >
      <h1 class="title">CodingHumor</h1>
      <p class="subtitle">Where Code Meets Comedy</p>
      <p>
        <button class="visit-posts-btn">
          <a data-inline href="/posts"
            >Take a Peek
            <svg
              inline-children-center="align-center"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M7 7h10v10"></path>
              <path d="M7 17 17 7"></path>
            </svg>
          </a>
        </button>
      </p>

      <div class="sample-blog-posts"></div>
    </main>
    <footer><%-include("partials/footer") %></footer>
  </body>
</html>
