footer {
  background-color: var(--content-bg-color);
  color: var(--text-color);
  padding: 1rem;
}
footer .footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
}
.footer-author-info {
  display: flex;
  gap: 0.125rem;
}
.footer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  gap: 0.125rem;
}
.footer-img {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 500px) {
  footer .footer-wrapper {
    flex-direction: column;
    gap: 0.25rem;
  }
}
